.header {
    padding: 10rem 0 3rem;
}
.title {
    color: red;
    font-size: 3rem;
    text-decoration: none;
    @media (min-width: 22rem) {
        font-size: 1.95rem;
    }
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.nav-item {
    color: #4e4e4e;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.nav-item:hover {
    color: #282828;
}
.active-nav-item {
    color: #333333;
}
